<template>
  <app-servers></app-servers>
</template>

<script>
// Every single file component has this structure (template/script/style)
// Here goes the vue instance properties
</script>

<style>
</style>
