<template>
    <div>
        <h1>Filters & Mixins</h1>
        <input v-model="filterText">
        <ul>
            <li v-for="fruit in filteredfruits" >{{ fruit }}</li>
        </ul>
    </div>
</template>

<script>
    import { fruitMixin } from "./fruitMixin";
    export default {
        mixins: [fruitMixin],
        created() {
            console.log("Inside list created hook");
        },
    };
</script>

<style>

</style>
