<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Http</h1>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" v-model="user.username">
                </div>
                <div class="form-group">
                    <label>Mail</label>
                    <input type="email" class="form-control" v-model="user.mail">
                </div>
                <button class="btn btn-primary" @click="submit">Submit</button>
                <hr>
                <input type="text" class="form-control" v-model="node">
                <br>
                <button class="btn btn-primary" @click="fetchData">Get Data</button>
                <br><br>
                <ul class="list-group">
                    <li class="list-group-item" v-for="u of users">{{ u.username }} - {{ u.mail }}</li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                user: {
                    username: "",
                    mail: ""
                },
                users: [],
                resource: {},
                node: "data"
            };
        },
        created() {
                const customActions = {
                    saveAlt: {
                        method: "POST",
                        url: "alternative.json"
                    },
                    getData: { method: "GET"}
                };
                this.resource = this.$resource("{node}.json", {}, customActions);
        },
        methods: {
            submit() {
                // this.$http.post("data.json", this.user)
                //     .then(res => {
                //         console.log(res);
                //     }, error => console.error(error));
                // this.resource.save({}, this.user);
                this.resource.saveAlt(this.user);
                // console.log(this.resource);
            },
            fetchData() {
                // this.$http.get("data.json")
                //     .then(res => {
                //         return res.json();
                //     })
                //     .then(data => {
                //         const resultArray = [];
                //         for (const user of Object.values(data)) {
                //             resultArray.push(user);
                //         }
                //         this.users = resultArray;
                //     });
                this.resource.getData({node: this.node})
                    .then(res => {
                        return res.json();
                    })
                    .then(data => {
                        const resultArray = [];
                        for (const user of Object.values(data)) {
                            resultArray.push(user);
                        }
                        this.users = resultArray;
                    });
            },
        }
    };
</script>

<style>
</style>
