<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Section 5</title>
</head>
<body>
    <div id="app1">
        <h1 ref="heading">{{ title }}</h1>
        <button @click="show" ref="myButton">Show Paragraph</button>
        <p v-if="showParagraph">This is not always visible</p>
    </div>
    <div id="app2">
        <h1>{{ title }}</h1>
        <button @click="onChange">Change something in VM1</button>
        <button @click="show">Show Paragraph</button>
        <p v-if="showParagraph">This is not always visible</p>
        <hello></hello>
    </div>
    <div id="app3"></div>
    <script src="../vue.js"></script>
    <script src="./app.js"></script>
</body>
</html>