<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Section 3</title>
    <link rel="stylesheet" href="./base.css">
</head>
<body>

    <div id="app">

        <div id="lecture-34">
            <p>You can see me!</p>
            <p v-if="showElementP">Do you also see me?</p>
            <p v-else="showElementP">Now you see me!</p>
            <button @click="showElementP=!showElementP">toggle</button>
        </div>

        <hr>

        <div id="lecture-38">
            <ul>
                <li v-for="(ingredient, i) of ingredients">{{ i }}: {{ ingredient }}</li>
            </ul>

            <template v-for="(ingredient, i) of ingredients">
                <h1>{{ ingredient }}</h1>
                <h4>index: {{i}}</h4>
            </template>

            <ul>
                <li v-for="person of persons">
                    <div v-for="(v, k) of person">{{k}}: {{v}}</div>
                </li>
            </ul>

            <ul v-for="person of persons">
                <li>Name: {{ person.name }}</li>
                <li>Age: {{ person.age }}</li>
                <li>Color: {{ person.color }}</li>
            </ul>

            <span v-for="n in 10">{{ n }}</span>
        </div>

        <hr>

        

    </div>


    <script src="../vue.js"></script>
    <script src="./master.js"></script>
</body>
</html>