<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Built-in Directives</h1>
                <p v-text="'Some Text'"></p>
                <p v-html="'<strong>Some strong text</strong>'"></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Custom Directives</h1>
                <p v-highlight:background.delayed="'lightcoral'">Color this</p>
                <p v-local-highlight:background.delayed.blink="{mainColor: 'pink', secondColor: 'lightblue', delay: 250}">Color this</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        directives: {
            "localHighlight": {
                bind(el, binding, vnode) {
                    let delay = 0;
                    if (binding.modifiers["delayed"]) {
                        delay = 3000;
                    }
                    if (binding.modifiers["blink"]) {
                        let mainColor = binding.value.mainColor || "red";
                        let secondColor = binding.value.secondColor || "blue";
                        let currentColor = mainColor;
                        setTimeout(() => {
                            setInterval(() => {
                                currentColor = currentColor === secondColor ? mainColor : secondColor;
                                if (binding.arg === "background") {
                                    el.style.backgroundColor = currentColor;
                                } else {
                                    el.style.color = currentColor;
                                }
                            }, binding.value.delay);
                        }, delay);
                    } else {
                        setTimeout(() => {
                            if (binding.arg === "background") {
                                el.style.backgroundColor = binding.value;
                            } else {
                                el.style.color = binding.value;
                            }
                        }, delay);
                    }
                },
            },
        },
    };
</script>

<style>
</style>